---
title: {{ poster_title }}
date: {{ now().strftime('%Y-%m-%d %H:%M:%S') }}
description: {{ description }}
menu:
  sidebar:
    name: {{ poster_title }}
    identifier: {{ poster_title | replace(' ', '-') | lower }}
    weight: 10
hero: {{ logo_file_name }}
---
